*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 30px 0;
    font-family: "Texto";
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
main{
    display: flex;
    
}
.conteiner1{
    margin-top: 50px;
    padding: 10px;
    background-color: hsl(31, 77%, 52%);
    width: auto;
    max-width: 500px;
    margin-bottom: 30px;
    height: 350px;
    align-items: center;
}
.conteiner2{
    margin-top: 50px;
    padding: 10px;
    background-color: hsl(184, 100%, 22%);
    width: auto;
    max-width: 500px;
    margin-bottom: 30px;
    height: 350px;
    align-items: center;
    
}
.conteiner3{
    margin-top: 50px;
    padding: 10px;
    background-color: hsl(179, 100%, 13%);
    width: auto;
    max-width: 500px;
    margin-bottom: 30px;
    height: 350px;  
    align-items: center;
}
.buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-link1{
    width: 100%;
    text-decoration: none;
    color: hsl(31, 77%, 52%);
    text-align: center;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 20px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-link2{
    width: 100%;
    text-decoration: none;
    color: hsl(184, 100%, 22%);
    text-align: center;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 20px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.btn-link3{
    width: 100%;
    text-decoration: none;
    color: hsl(179, 100%, 13%);
    text-align: center;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 20px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-link1:hover{
    cursor: pointer;
    background-color: hsl(31, 77%, 52%);
    color: black;
    transition: 0.5s ease-in-out;
}
.btn-link2:hover{
    cursor: pointer;
    background-color: hsl(184, 100%, 22%);
    color: black;
    transition: 0.5s ease-in-out;
}
.btn-link3:hover{
    cursor: pointer;
    background-color: hsl(179, 100%, 13%);
    color: black;
    transition: 0.5s ease-in-out;
}
#conteiner{
    display: flex;
    max-width: 900px;
    border-radius: 10px;
    
}
@media screen and (max-with:500px){
    #conteiner{
        flex-direction: column;
        padding: 20px;
    }
} 
h1{
    padding: 20px;
    color: white;
}
p{
    color: white;
    padding: 20px;
}