@import url(fonts.css);
@import url(colors.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#blog-preview{
    background-color: var(--Yellow);
    font-family: "Figtree";
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.conteiner{
    min-width: 350px;
    border: 2px solid var(--Gray-950);
    padding: 20px;
    border-radius: 15px;
    background-color: var(--White);
}
.header img{
width: 100%;
border-radius: 10px;
}
.header .label{
    display: inline-block;
    background-color: var(--Yellow);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 14px;
}
.header .date{
    font-size: 14px;
    margin-top: 15px;
}
.header h3{
margin: 15px 0px;
font-size: 24px;
font-weight: bolder;
}
.body{
    color: var(--Gray-500);
    font-size: 14px;
    line-height: 1.5;

}
.footer-autor{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-autor .autor{
    color: var(--Gray-500);
    font-weight: bolder;
    font-size: 14px;
    
}
.footer-autor img{
   width: 25px;
}
.conteiner-btn{
    border: 2px solid #0000;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
}
.btn-next{
    float: right;
    display: inline-block;
    background-color: var(--White);
    color:  var(--Gray-950);
    text-decoration: none;
    padding: 12px;
    border: 2px solid var(--White);
    border-radius: 20px;
    font-weight: bolder;

}