*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:"Inter";
    src: url(/assets/fonts/static/Inter-Regular.ttf);
}
body{
    font-family: "Inter";
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: black;
}
main{
    max-width: 580px;
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    border-radius: 15px;

}
header{
    text-align: center;
}
.avatar{
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;

}
.name{
    font-size: 16px;
    color: aliceblue;
    margin-top: 10px;
}
.text-green{
    color: hsl(75, 94%, 57%);
    font-weight: bolder;
    font-size: 14px;
}
.subtitle{
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
    color: #fff;
}
.buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-link{
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 12px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.btn-link:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: black;
    transition: 0.5s ease-in-out;
}